h1{
	color: red;
	color: green;
	color: blue;
}

h3{
	font-size: 50px;
	color: red;
}

.head1{
	background-color: yellow;
}

.red{
	border: 4x solid red;
} 
#head1{
	font-size: 50px;
}